@use 'sass:math';

@function spanGenerator($min: 1, $max: 3) {
$firstNumber: math.floor(math.random() * $max) + $min;
$secondNumber: math.floor(math.random() * $max) + $min ;
@return span $firstNumber / span $secondNumber;
}

main{
max-width:1000px;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill,10rem);
  grid-auto-flow: dense;
  grid-auto-rows: 8rem;
  grid-gap: 0.2rem;

  &__item{
overflow: hidden;
position:relative;

&::before{
  content:'';
  position:absolute;
  opacity:0;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  }

&::after{
content:'';
position:absolute;
opacity:0;
width: 100%;
height: 100%;
top:500px;
left:0;
transition: 0.5s;
background-color: rgba($color: #8990f3, $alpha: 1.0);
}

&:hover{

  cursor: pointer;
  &::after{
    opacity: 0.2;
    top:0;
    }

}



@for $i from 0 to 5 {
  &--span#{$i}{
    grid-area:spanGenerator() ;
    }
   }
  }
 

   }

div.gallery__item > img {
  object-fit: cover;
  min-height: 100%;
  max-width: 100%;
}

.lightbox{

background-color: rgba($color: #000000, $alpha: 0.9);
display: none;
position:fixed;
top:0;
left:0;
bottom:0;
right:0;
z-index: 1;

&__image{
  max-width:50%;
  max-height: 50%;
  margin: auto auto;
}

&--open{
  display:grid;
}

}
 
